{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>ORIENTATION WEB TEST</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

    </header>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">ORIENTATION WEB TEST</h1>
                </div>
            </div>
        </section>

        {% if bills is not empty %}
            <div class="container">
                <div class="row">
                    <div class="col themed-grid-col">N°</div>
                    <div class="col themed-grid-col">Designation</div>
                    <div class="col themed-grid-col">Prix HT</div>
                    <div class="col themed-grid-col">TVA</div>
                    <div class="col themed-grid-col">Prix TTC</div>
                    <div class="col themed-grid-col">Action</div>
                </div>
                {% for bill in bills %}
                    <div class="row">
                        <div class="col themed-grid-col">{{ bill.id }}</div>
                        <div class="col themed-grid-col">{{ bill.designation }}</div>
                        <div class="col themed-grid-col">{{ bill.priceHt }}</div>
                        <div class="col themed-grid-col">{{ tva }}</div>
                        <div class="col themed-grid-col">{{ bill.priceTtc }}</div>
                        <div class="col themed-grid-col"></div>
                    </div>
                {% endfor %}
                <p></p>
                {% include 'billing/pagination.html.twig' %}
            </div>
        {% else %}
            <p>Il n'y a aucune facture pour l'instant.</p>
        {% endif %}

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </footer>
{% endblock %}
